*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','san-serif';
}
body{
    background: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 8px;
}
h3{
    text-decoration: underline;
    font-size: 22px;
}
.projects{
    margin-top: 20px;
}
li{
    list-style-type: none;
    margin: 10px;
}
a{
    margin-left: 2vw;
}

@media (max-width:900px){
    .container{
        width: 80vw;
    }
}